<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discoverMostPopular</key>
	<string>https://api.themoviedb.org/3/discover/movie?api_key=a305175029b4b63a7b388477740d49c7&amp;language=en-US&amp;sort_by=popularity.desc</string>
	<key>discoverHighestRated</key>
	<string>https://api.themoviedb.org/3/discover/movie?api_key=a305175029b4b63a7b388477740d49c7&amp;language=en-US&amp;sort_by=vote_count.desc</string>
	<key>moviePosterURLFormat</key>
	<string>http://image.tmdb.org/t/p/w185/%@</string>
	<key>movieTrailerURLFormat</key>
	<string>https://api.themoviedb.org/3/movie/%@/videos?api_key=a305175029b4b63a7b388477740d49c7&amp;language=en-US</string>
	<key>movieReviewsURLFormat</key>
	<string>https://api.themoviedb.org/3/movie/%@/reviews?api_key=a305175029b4b63a7b388477740d49c7&amp;language=en-US</string>
	<key>movieYoutubeVideoURLFormat</key>
	<string>https://www.youtube.com/watch?v=%@</string>
	<key>movieInfoURLFormat</key>
	<string>https://api.themoviedb.org/3/movie/%@?api_key=a305175029b4b63a7b388477740d49c7&amp;language=en-US</string>
</dict>
</plist>
